extends layout.pug

block content
    h1 #{title}
    hr
    form(action="/books/new", method="post") 
        include form-errors
        include form
        button(type="submit", class="button")  Create New Book
        a(href="/", class="button cancel") Cancel   