extends layout.pug

block content
    h1 #{title}
    hr
    form(action=`/books/${id}`, method="post")
        include form-errors
        include form
        button(type="submit", class="button") Update 
        a(href="/", class="button cancel") Cancel   
        a(href=`/books/${id}/delete`, class="button") Delete 