body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

hr{
  margin-bottom: 2em;
}

.table-element{
  text-decoration: none;
  cursor: pointer;
}

.button{
  /* background-color: #009879; */
  border-radius: 5px;
  color: white;

  border: 2px solid #009879;
  color: black; 
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  overflow: hidden;
}

.button:hover {
  background-color: #009879; /* Green */
  color: white;
}

table{
  min-width: 100%;
  font-size: 0.9em;
  border-collapse: collapse;
  margin: 25px 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

th{
  background-color: #009879;
  color: #fff;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

th, td {
  padding: 12px 15px;
}

/* tr{
  border-bottom: 1px solid #555;
} */

tr:nth-of-type(odd){
  background-color: #cdcdcd;
}

form{
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 2% 15%;
}
input{
  margin-bottom: 1em;
  padding: 10px;

  cursor: pointer;
}
label{
  cursor: pointer;
}


@media all and (min-width: 820px) {

  /* ul {
    flex-flow: row wrap;
  } */
  form{
    margin: 2% 30%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
  }

  label{
    min-width: 20%;
    flex-grow: 1.5;
  }

  input{
    min-width: 70%;
    flex-grow: 1;
    align-self: center;
  }

  .button:not([class="button new"]){
    width: 50%;
    margin-left: 25%;
    padding: 16px 0;
  }
  .cancel{
    width: 25%;
  }
}
